.form{
	margin:10px;
	top: 100px;
}
.right{
	float: right;
}

.button-return{
	position: fixed !important;
	background-color: #ffffff00 !important; 
	margin-top: 10px !important;
}
body{
	background-color: #ebebeb;
}
.colorback{
	background-color: #fff;
}
.logo{
	width: 80%;
	margin-left: 10%;
	border-radius: 50%;
}
